* {
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    max-width: 1200px;
}

nav {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 25px;
    padding: 10px 5px;
    font-size: 19px;
}

.home {
    float: left;
}

.links {
    float: right;
    white-space: normal;
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("headerbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
    height: 600px;   
    
  display: flex;
  justify-content: center;
  align-items: center;
}

#headertxt {
    color: rgb(255, 255, 255);
    flex: 0 0 400px;
    text-align: center;
}

#location {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

#gallery {
    
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

a:link {
    color: rgb(255, 255, 255);    
    text-decoration: none;
    padding: 0px 10px;
  }
  
a:visited {
    color: rgb(255, 255, 255);
  }

h1 {
    font-size: 32px;
    padding: 20px 0px;
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

p {
    margin: 10px 0px;
}

a.toplink{
    color: orange;
}

#map {
    padding-top: 10px;
}

#gallery{
    margin: 30px 0px;
}

#wrapper{
    display: flex;
    flex-wrap: wrap;
}



#beer{
    margin: 30px 0px;
    text-align: center;   
}

img {
    max-width: 100%;
}

#brands {
   display: grid;
   grid-template-columns: 50% 50%;
   justify-items: center;
}

@media only screen and (max-width: 730px) {
    #brands {
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
     }
  }

#brandelement{     
    max-width: 350px;
}

#team {
    text-align: center;
}

#teampics {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.imgdiv {
    margin-bottom: 20px;
}

footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 1px;
}

#tel {
    color: orange;
}